@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.react-datepicker .react-datepicker__header {
    background-color: #1b4c6a;
}

.react-datepicker .react-datepicker__current-month {
    color: #fff;
}

.react-datepicker .react-datepicker__day-name {
    color: #fff;
}

.react-datepicker .react-datepicker__day--selected {
    background-color: #1facf3;
}

.react-datepicker .react-datepicker__day:hover {
    background-color: #bad9f1;
}

/* record用css */
.wrapper7 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.accordion7 {
    width: 500px;
}

.item7 {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #cdcdcd;
    /* #3399ff; */
    border-radius: 8px;
    /* background: #FFFFFF; */
}

.title7 {
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content7 {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.1, 0.1);
}

.content.show7 {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1.0, 1.0);
}