@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.react-datepicker .react-datepicker__header {
    background-color: #1facf3; 
}

.react-datepicker .react-datepicker__current-month {
    color: #fff; 
}

.react-datepicker .react-datepicker__day-name {
    color: #fff;
}

.react-datepicker .react-datepicker__day--selected {
    background-color: #1facf3
}



